<h1>New Blog Post</h1>

<%= render partial: "form", local: {blog_post: @blog_post} %>

<!-- app/views/posts/new.html.erb -->

<%= form_with(model: @blog_post, local: true) do |form| %>
  <!-- ...existing form fields... -->

  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :content %>
  <%= form.text_area :content %>

  <%= form.label :avatar %>
  <%= form.file_field :avatar %>

  <!-- ...submit button... -->
<% end %>
